nav:after {
  display: table;
  content: '';
  clear: both;
}

.nav-link {
  float: left;
  margin-right: 30px;
  padding-left: 85px;
}

body{
	font-family: helvetica;
	color: white;
	font-style: bold;
	width: 50%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.title{
	font-size: 60px;
	text-align: center;
	margin-top: 80px; 
}

ul{
	list-style: none;
	margin-top: 150px;
	text-align: center;
	font-size: 20px;
}


a{
	text-decoration: none;
	color: black;
}

#buttons{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.contact{
	height: 50px;
	width: 50px;
	padding-right: 30px;
}

#button1{
	margin-left: 280px;
}


.portfolio{
	margin-left: 250px;
	margin-top: 50px;
	color: white;
}